<div class="temperature-box">
    <img src="{{icon}}" alt="{{iconDescription}}" class="weather-picture-icon">
    <p class="temperature-header">{{city}}, {{countryCode}}</p>
    <div class="degree-box">
        <p class="degree-title">{{temp}}&deg</p>
        <ul class="degree-list">
            <li class="degree-item">
                <p class="degree-first-subtitle">min</p>
                <p class="degree-second-subtitle">{{tempMin}} &deg</p>
            </li>
            <li class="degree-item--line"></li>
            <li class="degree-item">
                <p class="degree-first-subtitle">max</p>
                <p class="degree-second-subtitle">{{tempMax}} &deg</p>
            </li>
        </ul>
    </div>
</div>